/**
* Name:  - v0.0.1
* Author: ServisIt
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --buttons-color: rgba(0, 19, 224, 0.67);
    --font-size-991px: 30px;
    --font-size-768px: 28px;
    --font-size-550px: 25px;
    --font-size-400px: 20px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

@font-face {
    font-family: LeBeauneNew;
    src: url("../fonts/LeBeauneNew.otf") format("opentype");
}

section {
    padding: 70px 0 35px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 0;
    color: #151515;
    font-family: "LeBeauneNew", serif;
    /*text-decoration: rgba(215, 17, 47, 0.89) underline;*/
}

@media (max-width: 1400px) {
    section {
        padding: 20px 0;
    }
}

@media (max-width: 992px) {
    .section-title h2 {
        font-size: var(--font-size-991px);
    }

    section {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .section-title h2 {
        font-size: var(--font-size-768px);
        margin-bottom: 20px;
    }

    section {
        padding: 20px 0;
    }
}

@media (max-width: 550px) {
    .section-title h2 {
        font-size: var(--font-size-550px);
        margin-bottom: 0;
    }

    .section-title {
        padding: 20px;
    }

    section {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .section-title h2 {
        font-size: var(--font-size-400px);
        margin: 10px 0;
        padding: 0;
    }

    .section-title {
        padding: 0;
    }

    section {
        padding: 0;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background: var(--buttons-color);
    color: #fff;
    transition: all 0.4s;
    border-radius: 50px;
}

.back-to-top i:hover {
    background: var(--buttons-color);
    color: #fff;
}

/*--------------------------------------------------------------
# Hero-Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    background-attachment: fixed !important;
}

#hero .carousel-item::before {
    content: '';
    background-color: rgba(15, 20, 24, 0.09);
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
}

#hero .container {
    text-align: center;
}

#hero h1 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 400;
    font-family: LeBeauneNew, serif;
}

#hero h5 {
    color: #fff;
    font-size: 28px;
    font-family: LeBeauneNew, serif;
}

#hero p {
    animation: none;
    margin: 0 auto 30px auto;
    color: #fff;
    font-size: 20px;
    font-family: LeBeauneNew, serif;
    font-weight: 700;
}

#hero p .animate__fadeInUp {
    animation: none;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;

}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 992px) {
    #hero {
        height: 100vh;
    }

    #hero .carousel-container {
        top: 8px;
    }

    #hero h1 {
        font-size: 80px;
        margin-bottom: 35px;
    }

    #hero p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 60px;
        margin-bottom: 30px;
    }

    #hero h5 {
        font-size: 24px;
    }

    #hero p {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

@media (max-width: 550px) {
    #hero h1 {
        font-size: 58px;
        margin-bottom: 25px;
    }

    #hero h5 {
        font-size: 18px;
    }

    #hero p {
        font-size: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    #hero h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    #hero p {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    #hero h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    #hero p {
        font-size: 13px;
        margin-bottom: 10px;
    }
}

@media (max-width: 280px) {
    #hero h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #hero p {
        font-size: 10px;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
        width: 5%;
    }
}


@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

/*--------------------------------------------------------------
# About-Us
--------------------------------------------------------------*/
.about-us-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 2;
}

.box1 .title-about-us {
    margin-bottom: 20px;
    padding-left: 0;
}

.box1 .title-about-us h2 {
    font-family: LeBeauneNew, serif;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    color: #373737;
    font-size: 37px;
}

.box1 .about-us-introduction {
    font-family: Jost, 'sans-serif';
    letter-spacing: 0;
    text-transform: none;
    color: #373737;
    font-size: 18px;
    margin-bottom: 100px;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0;

}

.box2 img {
    max-width: 100%;
    height: auto
}

@media (max-width: 1567px) {
    .box1 .title-about-us h2 {
        font-size: 32px;
    }
}

@media (max-width: 1400px) {
    .box1 .title-about-us h2 {
        font-size: 25px;
    }

    .about-us-introduction p {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .box1 .title-about-us h2 {
        font-size: 20px;
    }

    .about-us-introduction p {
        font-size: 15px;
        text-align: center;
    }

    .box2 img {
        max-width: 620px;
        height: auto
    }
}

@media (max-width: 768px) {
    .box1 .title-about-us h2 {
        text-align: center;
    }

    .box2 img {
        max-width: 100%;
        height: auto
    }
}

@media (max-width: 500px) {
    .box1 .title-about-us h2 {
        margin-top: 15px;
        font-size: 15px;
    }

    .about-us-introduction p {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .box1 .about-us-introduction {
        margin-bottom: 20px;
    }
}

/*--------------------------------------------------------------
# Statistics
--------------------------------------------------------------*/
.statistics {
    background: url("../img/group-student.jpg") no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-top: 0;
}

.statistics .row {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.img-content-icon1 {
    width: 50px;
    height: 65px;
}

.img-content-icon {
    width: 65px;
    height: 65px;
}

.icon-statistics {
    width: 55px;
    height: 55px;
}

.icon1 {
    height: 65px;
    width: 50px;
}

.icon2 {
    height: 65px;
    width: 65px
}

.icon3 {
    height: 65px;
    width: 48px
}

.statistics .box {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.statistics h3 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 28px;
    font-family: LeBeauneNew, serif;
}

.statistics h4 {
    font-size: 46px;
    color: #ffff;
    font-weight: 400;
    font-family: LeBeauneNew, serif;
    margin-top: 15px;
}

.line-right {
    border-right: solid 1px white;
}

.statistics span {
    color: #ffff;
    font-size: 22px;
    font-family: LeBeauneNew, serif;
}

.statistics ul {
    padding: 0;
    list-style: none;
    color: #ffff;
    text-align: left;
    line-height: 20px;
}

.statistics ul li {
    padding-bottom: 12px;
}

.statistics ul .na {
    color: #ccc;
}

.statistics ul .na i {
    color: #ccc;
}

.statistics ul .na span {
    text-decoration: line-through;
}

.statistics .featured {
    margin: -30px -5px 0 -5px;
}

.statistics .featured .buy-btn {
    background: #e96b56;
}

.statistics .featured .buy-btn:hover {
    background: #ee8b7a;
}

@media (max-width: 1500px) {
    .icon1 {
        height: 55px;
        width: 40px;
    }

    .icon2 {
        height: 55px;
        width: 55px;
    }

    .icon3 {
        height: 55px;
        width: 38px;
    }

    .line-right {
        border-right: none;
        margin: 0;
    }

    .no-line-right {
        margin: 0;
    }

    .statistics .row {
        padding-top: 40px;
    }

    .statistics h4 {
        font-size: 35px;
    }

    .statistics span {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .statistics h4 {
        font-size: 25px;
    }

    .statistics span {
        font-size: 18px;
    }

    .icon1 {
        height: 50px;
        width: 35px;
    }

    .icon2 {
        height: 50px;
        width: 50px;
    }

    .icon3 {
        height: 50px;
        width: 33px;
    }
}

@media (max-width: 992px) {
    .statistics .box {
        max-width: 60%;
        margin: 0 auto 30px auto;
    }

    .statistics {
        background: url("../img/group-student.jpg") no-repeat;
        padding: 0;
    }

    .line-right {
        border-right: none;
    }

    .statistics .row {
        padding: 50px 0 20px 0;
    }
}

@media (max-width: 767px) {
    .statistics {
        background: url("../img/group-student.jpg") no-repeat;
    }

    .statistics .box {
        max-width: 80%;
        margin: 0 auto 30px auto;
    }

    .statistics h4 {
        font-size: 30px;
    }

    .statistics span {
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    .statistics {
        /*background: #7abaff;*/
    }

    .statistics .box {
        max-width: 100%;
        margin: 0 auto 30px auto;
    }

    .statistics h4 {
        font-size: 25px;
    }

    .statistics span {
        font-size: 15px;
    }
}
